@font-face {
  font-family: 'DINpro';
  font-weight: normal;
  src: url('./fonts/din-pro.ttf');
}

@font-face {
  font-family: 'DINpro';
  font-weight: 400;
  src: url('./fonts/din-pro-medium.ttf');
}

@font-face {
  font-family: 'DINpro';
  font-weight: lighter;
  src: url('./fonts/din-pro-light.ttf');
}

@font-face {
  font-family: 'DINpro';
  font-weight: bold;
  src: url('./fonts/din-pro-bold.ttf');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: normal;
  src: url('./fonts/Gilroy/gilroy-medium.ttf');
}


@font-face {
  font-family: 'Gilroy';
  font-weight: lighter;
  src: url('./fonts/Gilroy/gilroy-ultralight.ttf');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: bold;
  src: url('./fonts/Gilroy/gilroy-bold.ttf');
}

body {
  margin: 0;
  font-family: DINpro, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-stretch: expanded;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
